{
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          { "type": "Major", "release": "major" },
          { "type": "major", "release": "major" },
        
          { "type": "Minor", "release": "minor" },
          { "type": "minor", "release": "minor" },
        
          { "type": "Fix",   "release": "patch" },
          { "type": "fix",   "release": "patch" }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    "@semantic-release/github"
  ]
}
