{
  "branches": ["main"],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          { "type": "Major", "release": "major" },
          { "type": "major", "release": "major" },

          { "type": "Minor", "release": "minor" },
          { "type": "minor", "release": "minor" },

          { "type": "Fix",   "release": "patch" },
          { "type": "fix",   "release": "patch" }
        ]
      }
    ],

    "@semantic-release/release-notes-generator",

    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],

    [
      "@semantic-release/exec",
      {
        "prepareCmd": "echo '{\"version\": \"${nextRelease.version}\", \"released\": \"${nextRelease.gitTag}\"}' > version.json"
      }
    ],

    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "version.json"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]"
      }
    ],

    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "version.json",
            "label": "version.json"
          }
        ]
      }
    ]
  ]
}

