{
  "tagFormat": "v${version}",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          { "type": "Major", "release": "major" },
          { "type": "Minor", "release": "minor" },
          { "type": "Fix",   "release": "patch" }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ],
  "branches": [
    { "name": "main", "prerelease": false }
  ]
}
